@import "./assets/fonts.css";

.content {
    width: 1020px;
    margin: 0 auto;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
    display: flex;
    flex-direction: column;
}

.portfolio-text {
    margin-top: 60px;
    margin-left: 40px;    
}

.portfolio_images_buttons {
    margin: -2px 0 19px 41px;
}

.portfolio_head {
    font-family: "Lato-Black", sans-serif;
    font-size: 30px;
    color: #666d89;
}

.portfolio_paragraph {
    font-family: "Lato-Light", sans-serif;
    font-size: 18px;
    color: #767e9e;
}

.portfolio_images {
    display: flex;
    flex-direction: column;
}

.portfolio_images_buttons>button {
    background-color: #2d303a;
	border-radius: 5px;
	border: 1px solid #666d89;
	display: inline-block;
	cursor: pointer;
	color:#666d89;
	font-family: "Lato-Regular", sans-serif;
	font-size: 12px;
    padding: 3px 6px;
    margin-right: 6px;
	text-decoration: none;
}

.portfolio_images_buttons>button:last-child {
    margin-right: 0;
    margin-left: -1px;
}

.portfolio_images_buttons>button:hover {
    border:1px solid #dedede;
    color:#dedede;
}

.portfolio_images_view {
    display: grid;
    grid-template: repeat(3,fit-content(220px)) / repeat(4,fit-content(191px));
    justify-content: center;
    justify-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 16px; 
}

.portfolio_images_view>figure {
    margin: 0;
}

.portfolio_images_view>figure:nth-child(n+13) {
    display: none;
}

.line-portfolio {
    height: 6px;
    background-color: #323746;
}

.about_us {
    height: 724px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.about_text {
    margin: 60px 40px 0;
}

.about_head, .about_paragraph {
    margin: 0;
}

.about_head {
    font-family: "Lato-Black", sans-serif;
    font-size: 30px;
    color: #666d89;
}

.about_paragraph {
    font-family: "Lato-Light", sans-serif;
    font-size: 18px;
    color: #767e9e;
    word-spacing: 1px;
    line-height: 1.7;
    margin-top: 19px;
}
 
.about_persons {
    margin: 44px 40px 0;
}

.about_persons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_column {
    display: flex;
    flex-direction: column;    
    width: 300px;    
}

.person_photo {
    width: 300px;
    height: 300px;
}

.about_information {
    margin-top: 16px;
    margin-left: -1px;
}

.person_name, .person_about {
    margin: 0;
}

.person_name {
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;    
    white-space: nowrap;
    word-spacing: -1px;
    color: #666d89;
    overflow: hidden;
}

.person_about {
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    color: #767e9e;
    margin-top: 9px;
    word-spacing: 1px;
    line-height: 1.75;
}

.about_social_media {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.about_social_media>a {
    margin-right: 8px;
}

.about_social_media>a:hover {
    transform: scale(1.2);
}

.line-about_us {
    height: 6px;
    background-color: #ffffff;
}