@import "./assets/fonts.css";

a {
    text-decoration: none;
}
.head {
    height: 95px;
}
.head-underline {
    height: 89px;        
    background-color: #2d303a;
    font-family: "Lato-Bold", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;     
}

@media (min-width: 480px){  
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 12px;
        color: #ffffff;
        margin-left: 40px;
    }
    .star {
        font-size: 25px;
        color: #f06c64;
        margin: 16px 0 0;
    }
}

@media (max-width: 480px) {
    .logo {
        display: none;
    }
}

.navigation {
    list-style-type: none;
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 6px 40px 0 0;
}

.nav-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
}

.nav-link:hover {
    color: #f06c64;
    border-bottom: 1px solid #f06c64;
}

.dot {
    color: #494e62;
}   

.line-head {
    height: 6px;
    background-color: #323746;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    height: 594px;
    background-color: #f06c64;
}

.left-arrow {
    width: 16px;
    height: 27px;
    margin-left: 42px;
    margin-bottom: 11px;
}

.right-arrow {
    width: 16px;
    height: 27px;
    margin-right: 42px;
    margin-bottom: 11px;
}

.left-slide>:hover, .right-slide>:hover {
    transform: scale(1.2);
}

.slides {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.vertical_phone_source {
    width: 240px;
    height: 483px;
}

.horizontal_phone_source {
    width: 483px;
    height: 240px;
}

.vertical-phone {
    margin-right: 73px;
}

.horizontal-phone {
    margin-top: 121px;
}

.line-main {
    height: 6px;
    background-color: #ea676b;
}

.services {
    height: 496px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

.services-about {
    margin: 35px 0 0 40px;
}

.services-about-header {
    font-family: "Lato-Black", sans-serif;
    font-size: 30px;
    letter-spacing: 0.2 px;
    color: #666d89;
    margin-bottom: 20px;
}

.services-about-p {
    font-family: "Lato-Light", sans-serif;
    font-size: 18px;
    letter-spacing: 0.2 px;
    word-spacing: 1px;
    line-height: 1.6;
    word-wrap: break-word;  
    color: #767e9e;
    margin: 0;
}

.services-opportunities {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    flex-wrap: wrap;
    margin-bottom: 45px;
    margin-left: 41px;
}

.services-opportunities-col {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.services-opportunities-col>div {
    display: flex;
    flex-direction: row;
}

.services-opportunities-col>div>img {
    height: 59px;
    width: 59px;
    margin-right: 20px;
}

.services-opportunities>div>div>div>h3 {
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;
    color: #666d89;
    margin: 0;
}
.services-opportunities>div>div>div>p {
    font-family:"Lato-Regular", sans-serif;
    font-size: 12px;
    word-spacing: 5px;
    word-wrap: break-word;
    width: 220px;
    color: #767e9e;
}

.line-services {
    height: 6px;
    background-color: #ffffff;
}