@import "./assets/fonts.css";

@media (min-width: 480px) {

    a {
        text-decoration: none;
    }

    .head-underline {
        height: 95px;        
        background-color: #2d303a;
        font-family: "Lato-Bold", sans-serif;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        align-items: center;     
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 12px;
        color: #ffffff;
        margin-left: 40px;
        margin-top: -7px;
    }

    .star {
        font-size: 25px;
        color: #f06c64;
        margin: 16px 0 0;
    }

    .navigation {
        list-style-type: none;
        width: 370px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        margin-right: 40px;
    }

    .nav-link {
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
    }

    .nav-link:hover {
        color: #f06c64;
        border-bottom: 1px solid #f06c64;
    }

    .dot {
        color: #494e62;
    }   

    .line-head {
        height: 6px;
        background-color: #323746;
    }
}